[package]
name = "nosecrets-rules"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true

[dependencies]
serde.workspace = true
toml.workspace = true
thiserror.workspace = true
